DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/news_monitoring
SECRET_KEY=your_very_long_random_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=14
DEBUG=True
API_V1_PREFIX=/api/v1

BASE_URL=http://localhost:8001/api/v1
AI_BASE_URL=http://localhost/v1

CHATFLOW_API_KEY=app-jFJYgXKnPKDbrirKAbmcyfNb
SUMMARY_WORKFLOW_API_KEY=app-pHnrPvohCWP2BmRWdlxMQex0
SCORING_WORKFLOW_API_KEY=app-y6d6kCAj1MTv3MVBHQGJPq3N

# Knowledge
KNOWLEDGE_API_KEY=dataset-3EX0oO1C0PTYAhtE7Q15Y1OI
DIFY_DATASET_ID=6c5d0550-1d5a-43c3-aecf-b661606c27c5
DIFY_ARTICLE_ID_METADATA_FIELD_ID=1887f5ec-966f-4c93-8c99-5ad386022f46

TRANSNEWS_BASE_URL=http://localhost:8000
TRANSNEWS_REQUEST_TIMEOUT=20

LOGIN_DISABLED=true